@import "variables";

.main-toolbar {
  height: 100px;
  background-color: $black-02;

  .title-and-search-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    .site-name {
      color: white;
    }

    .site-name:hover {
      cursor: pointer;
      color: lightgray;
    }

  }

  .about-and-login-container {
    .about-label {
      color: white;
    }

    .about-label:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

// Desktop Styling
@media only screen and (min-width: $mobile-screen-breakpoint) {

  .main-toolbar {
    justify-content: space-around;

    .site-name {
      font-size: xx-large;
      margin-right: $spacing-huge;
    }
  }
}

// Mobile Styling
@media only screen and (max-width: $mobile-screen-breakpoint) {

  .main-toolbar {
    justify-content: center;

    .site-name {
      font-size: x-large;
      margin-right: $spacing-large;
    }

    .about-and-login-container {
      display: none;
    }
  }
}
