@import "variables";

.stat-leaderboard-container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  padding: $spacing-medium;
  background-color: $black-02;
  border-radius: 25px;

  .stat-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    height: 40px;
    color: white;
    margin-bottom: $spacing-medium;
  }

  .stat-players {
    display: flex;
    flex-direction: column;
    color: white;

    .stat-player {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 55px;
      padding: $spacing-small $spacing-x-large;
      border-top: 1px solid $black-03;

      .player-container {
        display: flex;

        .player-headshot-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          margin-right: $spacing-x-large;
          overflow: hidden;

          .player-headshot {
            height: 67px;
            width: 67px;
            margin-top: 14px;
          }
        }

        .player-info {
          display: flex;
          flex-direction: column;

          .player-name {
            font-size: medium;
            margin-left: $spacing-medium;
          }

          .player-team {
            display: flex;
            align-items: center;
            margin-top: $spacing-medium;

            .player-team-logo {
              height: 25px;
            }

            .player-team-label {
              font-size: smaller;
              color: $gray-03;
            }
          }
        }
      }

      .stat-container {
        padding: $spacing-medium $spacing-large;
        border-radius: 15px;
        font-size: large;
      }
    }

    .stat-leader {
      height: 65px !important;

      .leader-headshot-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-right: $spacing-x-large;
        overflow: hidden;

        .leader-headshot {
          height: 80px;
          width: 80px;
          margin-top: 17px;
        }
      }

      .leader-name {
        font-size: large;
        margin-left: $spacing-medium;
      }

      .leader-team {
        display: flex;
        align-items: center;
        margin-top: $spacing-medium;

        .leader-team-logo {
          height: 30px;
        }

        .leader-team-label {
          font-size: medium;
          color: $gray-03;
        }
      }

      .stat-container {
        font-size: larger;
      }
    }
  }
}

// Desktop Styling
@media only screen and (min-width: $medium-display-breakpoint) {
  .stat-leaderboard-container {
    width: 400px;
  }
}

// Small Display
@media only screen and (min-width: $mobile-screen-breakpoint) and (max-width: $medium-display-breakpoint){
  .stat-leaderboard-container {
    width: 330px;
  }
}
