################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HokMob.App/ClientApp/.angular/cache/15.2.5
/HokMob.App/ClientApp/.browserslistrc
/HokMob.App/ClientApp/.editorconfig
