<div class="scores-container">

  <div class="day-select-container">
    <div class="day-shift left" (click)="shiftDateLeft()">
      <mat-icon fontIcon="chevron_left"></mat-icon>
    </div>
    <div class="date-container">
      <div class="date-select-container" (click)="onClickDate()">
        <span class="selected-day">{{displayDayLabel}}</span>
        <input matInput [(ngModel)]="selectedDay" (dateChange)="onDateSelect($event)" [matDatepicker]="datePicker" class="date-input">
        <mat-icon fontIcon="arrow_drop_down" class="dropdown-arrow"></mat-icon>
      </div>
      <mat-datepicker #datePicker></mat-datepicker>
    </div>
    <div class="day-shift right" (click)="shiftDateRight()">
      <mat-icon fontIcon="chevron_right"></mat-icon>
    </div>
  </div>
  <div *ngFor="let game of currentDayGames; let last = last" class="game-container" [ngClass]="{'last-scorecard': last}">
    <app-scorecard
      [game]="game"
    ></app-scorecard>
  </div>
</div>
