<div class="about-container">
  <h1 class="about-header">About</h1>
  <div class="about-text">
  <span>
    HokMob was created by one individual, Sean Odnert. A Bay Area software engineer and hockey fan, I was motivated by a
    lack of decent hockey info and stats websites with good user interfaces. Additionally I was inspired by one of my
    favorite soccer (football) websites FotMob <a [href]="'https://www.fotmob.com'">https://www.fotmob.com/</a>. So after
    doing some research and finding the publicly available NHL Stats API via
    <a [href]="'https://gitlab.com/dword4/nhlapi'">https://gitlab.com/dword4/nhlapi</a>, and using Drew Hynes' extensive
    documentation I created HokMob! It is still an active work in progress, but I and a few family + friends have been
    using it to follow the NHL, and we've found it really useful. I hope if any other hockey fans stumble across this they
    may find it interesting and informative as well! For any comments, requests, or suggestions feel free to reach out
    to me at SOSharkie@gmail.com.
  </span>
  </div>
</div>
