<div mat-dialog-title class="series-title">
  <span class="series-title-text">{{seriesTitle}}</span>
</div>
<mat-dialog-content>
  <div class="playoff-series-dialog-container">
    <div *ngFor="let game of seriesGames let last = last" class="series-game-container" [ngClass]="{'last-scorecard': last}">
      <app-scorecard
          [game]="game"
          [smallerScorecard]="true"
          (scorecardClicked)="seriesGameClicked()"
      ></app-scorecard>
    </div>
  </div>
</mat-dialog-content>
