@import "variables";

.mat-mdc-dialog-container .mdc-dialog__title {
  display: flex;
  min-height: 45px;
  background-color: $black-02;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: $spacing-medium;
  padding-top: $spacing-medium;
}

.mat-mdc-dialog-container .mdc-dialog__content {
  padding: 0;
}

.mat-mdc-dialog-surface {
  border: none;
  border-radius: 25px !important;

  .playoff-series-dialog-container {
    background-color: $black-02;

    .series-game-container {
      border-bottom: 1px solid $gray-01;
    }

    .last-scorecard {
      border-bottom: none !important;
    }
  }
}