<div class="team-form-container">
  <div class="team-form-header">
    <span>Team Form</span>
  </div>
  <div class="previous-games-container">
    <div class="home-games">
      <div *ngFor="let game of homeTeamGames; let isLast = last">
        <app-previous-game
            [game]="game"
            [teamId]="homeTeamId"
            [isLast]="isLast"
        ></app-previous-game>
      </div>
      <div *ngIf="!homeTeamGames?.length" class="no-games">No recent games</div>
    </div>
    <div class="away-games">
      <div *ngFor="let game of awayTeamGames; let isLast = last">
        <app-previous-game
            [game]="game"
            [teamId]="awayTeamId"
            [isLast]="isLast"
        ></app-previous-game>
      </div>
      <div *ngIf="!awayTeamGames?.length" class="no-games">No recent games</div>
    </div>
  </div>
</div>
