<div class="event-timeline-container">
  <div *ngFor="let period of periods" class="period-events">
    <div class="period-start-container">
      <span class="period-label">{{getPeriodLabel(period)}}</span>
    </div>
    <app-event
        *ngFor="let play of period.plays; trackBy: trackPlay"
        [play]="play"
        [homeTeamId]="homeTeamId"
        [rosterSpots]="rosterSpots"
        (playerClicked)="onPlayerClicked($event)"
    ></app-event>
  </div>
  <div *ngIf="isGameFinal" class="period-start-container">
    <span class="period-label">End</span>
  </div>
</div>
