<div class="event-timeline-container">
  <div *ngFor="let period of periodEvents, let i = index">
    <ng-container *ngIf="hasPeriod(i)">
      <div class="period-start-container">
        <span class="period-label">{{getPeriodLabel(i)}}</span>
      </div>
      <ng-container *ngFor="let event of period">
        <app-event
            [event]="event"
            [homeTeamId]="gameLiveData.gameData.teams.home.id"
            [awayTeamId]="gameLiveData.gameData.teams.away.id"
            (playerClicked)="onPlayerClicked($event)"
        ></app-event>
      </ng-container>
    </ng-container>
  </div>
  <div *ngIf="gameLiveData.gameData.status.abstractGameState === 'Final'" class="period-start-container">
    <span class="period-label">End</span>
  </div>
</div>