<div class="player-game-dialog-container">
  <div class="header-container">
    <div class="player-headshot-container">
      <img [src]="playerHeadshot" (error)="showBlankHeadshot($event)" alt="" class="player-headshot">
    </div>
    <img *ngIf="teamLogo" [src]="teamLogo" alt="" class="team-logo">
    <div class="player-name">
      <span>{{player?.name}}</span>
    </div>
    <div class="player-info">
      <div class="info-item position-info">
        <span class="info-item-label">Position</span>
        <span>{{player?.position}}</span>
      </div>
      <div class="info-item country-info">
        <span class="info-item-label">Country</span>
        <div class="country-container">
          <img *ngIf="countryFlagPath" [src]="countryFlagPath" alt="" class="country-flag">
          <span>{{birthCountry}}</span>
        </div>
      </div>
      <div class="info-item age-info">
        <span class="info-item-label">Age</span>
        <span>{{age}}</span>
      </div>
    </div>
  </div>
  <div class="player-game-stats-container">
    <div class="stats-label">
      <span>Top Stats</span>
    </div>
    <div *ngIf="skaterStats" class="player-game-stats">
      <div class="game-stat-item">
        <span class="game-stat-label">HokMob Rating</span>
        <span class="game-stat-value" [ngStyle]="{'background-color': StatsUtils.getHokmobRatingColor(player.hokmobRating)}">{{player.hokmobRating}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Time On Ice</span>
        <span>{{skaterStats.toi}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Goals</span>
        <span class="game-stat-value">{{skaterStats.goals}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Assists</span>
        <span class="game-stat-value">{{skaterStats.assists}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Shots</span>
        <span class="game-stat-value">{{skaterStats.sog}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Hits</span>
        <span class="game-stat-value">{{skaterStats.hits}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Blocks</span>
        <span class="game-stat-value">{{skaterStats.blockedShots}}</span>
      </div>
      <div *ngIf="showFaceoffs" class="game-stat-item">
        <span class="game-stat-label">Faceoff %</span>
        <span class="game-stat-value">{{faceoffPercentage}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Plus/Minus</span>
        <span class="game-stat-value">{{skaterStats.plusMinus}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Penalty Minutes</span>
        <span class="game-stat-value" [ngStyle]="{'color': skaterStats.pim > 0 ? '#e34d53' : ''}">{{skaterStats.pim}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Takeaways</span>
        <span class="game-stat-value">{{skaterStats.takeaways}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Giveaways</span>
        <span class="game-stat-value">{{skaterStats.giveaways}}</span>
      </div>
    </div>
    <div *ngIf="goalieStats" class="player-game-stats">
      <div class="game-stat-item">
        <span class="game-stat-label">HokMob Rating</span>
        <span class="game-stat-value" [ngStyle]="{'background-color': StatsUtils.getHokmobRatingColor(player.hokmobRating)}">{{player.hokmobRating}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Time On Ice</span>
        <span class="game-stat-value">{{goalieStats.toi}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Save %</span>
        <span class="game-stat-value">{{goalieStats.savePctg | savePercentage}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Saves</span>
        <span class="game-stat-value">{{goalieStats.saves}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Shots Against</span>
        <span class="game-stat-value">{{goalieStats.shotsAgainst}}</span>
      </div>
      <div class="game-stat-item">
        <span class="game-stat-label">Penalty Minutes</span>
        <span class="game-stat-value">{{goalieStats.pim}}</span>
      </div>
    </div>
  </div>
  <footer class="player-footer-container">
    <div class="profile-container" (click)="clickPlayerProfile()">
      <mat-icon>person</mat-icon>
      <span class="profile-label">Player Profile</span>
    </div>
    <div class="done-button" (click)="closeDialog()">
      <span>Done</span>
    </div>
  </footer>
</div>
