@import "variables";

.cdk-overlay-pane {
  max-height: 95vh;
}

.mat-mdc-dialog-surface {
  border: none;
  border-radius: 25px !important;
}

.player-game-dialog-container {
  border-radius: 25px;
  background-color: $black-02;

  .player-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $black-03;
    padding: $spacing-large;
    border-top: 2px solid $gray-01;
    min-height: 20px;

    .profile-container {
      display: flex;
      align-items: center;
      height: 30px;
      width: fit-content;
      color: white;

      .profile-label {
        margin-left: $spacing-medium;
      }
    }

    .profile-container:hover {
      cursor: pointer;
      color: $gray-04 !important;
    }

    .profile-container:focus {
      outline: none;
    }

    .done-button {
      color: $green-01;
      margin-right: $spacing-large;
    }

    .done-button:hover {
      color: $green-03;
      cursor: pointer;
    }
  }
}

// Desktop Styling
@media only screen and (min-width: $game-mobile-screen-breakpoint) {
  .player-game-dialog-container {
    min-width: 350px;
  }
}

// Mobile Styling
@media only screen and (max-width: $game-mobile-screen-breakpoint) {
  .player-game-dialog-container {
    min-width: 300px;
  }
}
