<div class="stats-container">
  <div *ngIf="showFilters" class="stat-filters-container">
    <div (click)="updateGameType(true)"
         class="stat-filter-button"
         [ngClass]="{'selected-filter': playoffsSelected}">
      Playoffs
    </div>
    <div (click)="updateGameType(false)"
         class="stat-filter-button"
         [ngClass]="{'selected-filter': !playoffsSelected}">
      Regular Season
    </div>
  </div>
  <div *ngIf="!isLoading" class="leaderboards-container">
    <app-stat-leaderboard *ngFor="let leaderboard of leaderboards"
        [statTitle]="leaderboard.title"
        [entries]="leaderboard.entries"
        [format]="leaderboard.format"
    ></app-stat-leaderboard>
  </div>
  <div *ngIf="isLoading" class="loading-container">
    <img src="assets/loading.gif" class="loading-gif">
  </div>
</div>
