@import "variables";

.stats-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .leaderboards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;

    app-stat-leaderboard {
      margin: $spacing-large;
    }
  }
}
