<div class="stats-container">
  <app-stat-leaderboard
      [statTitle]="'Points'"
      [statField]="'points'"
      [topPlayersList]="topPointsList"
  ></app-stat-leaderboard>
  <app-stat-leaderboard
      [statTitle]="'Goals'"
      [statField]="'goals'"
      [topPlayersList]="topGoalsList"
  ></app-stat-leaderboard>
  <app-stat-leaderboard
      [statTitle]="'Assists'"
      [statField]="'assists'"
      [topPlayersList]="topAssistsList"
  ></app-stat-leaderboard>
<!--  <app-stat-leaderboard-->
<!--      [statTitle]="'Save Percentage'"-->
<!--      [statField]="'savePercentage'"-->
<!--      [topPlayersList]="savePercentageList"-->
<!--  ></app-stat-leaderboard>-->
<!--  <app-stat-leaderboard-->
<!--      [statTitle]="'Shutouts'"-->
<!--      [statField]="'shutouts'"-->
<!--      [topPlayersList]="shutOutsList"-->
<!--  ></app-stat-leaderboard>-->
</div>
