@import "variables";

.scorecard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100px;
  width: 650px;
  background-color: $black-02;
  color: white;

  .game-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100px;
  }

  .home-team {
    display: flex;
    justify-content: flex-end;
    width: 275px;
  }

  .away-team {
    display: flex;
    justify-content: flex-start;
    width: 275px;
  }
}

.scorecard-container:hover {
  background-color: $black-03;
  cursor: pointer;
}
