@import "variables";

.momentum-container {
  background-color: $black-02;
  border-radius: 25px;
  padding: $spacing-large;
  overflow: hidden;
  position: relative;

  .chart-title {
    height: 30px;
    text-align: center;
    color: white;
    padding-top: $spacing-large;
  }

  .mobile-labels {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: smaller;
    margin-top: -5px;
    height: 580px;
  }

  .chart-container {
    height: 280px;
  }
}

// Desktop Styling
@media only screen and (min-width: $mobile-screen-breakpoint) {
  .mobile-labels {
    display: none !important;
  }
}

// Mobile Styling
@media only screen and (max-width: $mobile-screen-breakpoint) {
  .momentum-container {
    height: 620px;

    // Mobile styling for chart also includes rotation and translation in ngAfterViewInit based on window width.
    .chart-container {
      height: 380px !important;
      width: 590px;
    }
  }
}
