@import "variables";

.momentum-container {
  background-color: $black-02;
  border-radius: 25px;
  padding: $spacing-large;
  overflow: hidden;
  position: relative;

  .chart-title {
    height: 30px;
    text-align: center;
    color: white;
    padding-top: $spacing-large;
  }

  .chart-container {
    height: 280px;
  }
}
