
// Global Colors
$header-color: #1b1b1b;
$search-input-color: #272727;
$search-text-color: #646464;


//Padding and Margins
$spacing-x-small: 2px;
$spacing-small: 4px;
$spacing-medium: 6px;
$spacing-large: 10px;
$spacing-x-large: 15px;
$spacing-xx-large: 20px;
$spacing-huge: 30px;
