@import "variables";

.mini-event-container {
  margin: $spacing-medium;
  padding: $spacing-large $spacing-small;
  border-bottom: 1px solid $black-03;

  .goal-event {
    display: flex;
    align-items: center;

    .period-time-container {
      width: 40px;
      text-align: center;
      margin-left: $spacing-x-small;
      margin-right: $spacing-x-small;
    }

    .goal-icon-container {
      width: 22px;
      height: 22px;
      padding: $spacing-x-small;
      margin-left: $spacing-x-small;
      margin-right: $spacing-x-small;
      border-radius: 50%;
      border: 1px solid $gray-03;
      background-color: $gray-01;

      .puck-icon {
        width: 22px;
        height: 22px;
      }
    }

    .event-details {
      display: flex;
      flex-direction: column;
      margin-left: $spacing-small;
      margin-right: $spacing-small;

      .event-main-label {
        color: white;
        margin-bottom: $spacing-small;
      }

      .event-main-label:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      .event-secondary-label {
        color: $gray-03;
      }

      .assist-name:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .penalty-event {
    display: flex;
    align-items: center;

    .period-time-container {
      width: 40px;
      text-align: center;
      margin-left: $spacing-x-small;
      margin-right: $spacing-x-small;
    }

    .penalty-icon-container {
      width: 22px;
      height: 22px;
      padding: $spacing-x-small;
      margin-left: $spacing-x-small;
      margin-right: $spacing-x-small;
      border-radius: 50%;
      border: 1px solid $gray-03;
      background-color: $gray-01;

      .penalty-icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
      }
    }

    .event-details {
      display: flex;
      flex-direction: column;
      margin-left: $spacing-small;
      margin-right: $spacing-small;

      .event-main-label {
        color: white;
        margin-bottom: $spacing-small;
      }

      .event-main-label:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      .event-secondary-label {
        color: $gray-03;
      }
    }
  }

  .home-event {
    flex-direction: row;
    text-align: left;
  }

  .away-event {
    flex-direction: row-reverse;
    text-align: right;
  }

  .color-green {
    color: $green-01;
  }

  .penalty {
    color: $red-03 !important;
  }
}