
// Global Colors
$black-01: #000000;
$black-02: #1b1b1b;
$black-03: #272727;
$black-04: #2b2b2b;

$gray-01: #414141;
$gray-02: #646464;
$gray-03: #959595;
$gray-04: #a4a4a4;

$green-01: #84dc7b;
$green-02: #008e57;

$red-01: #e34d53;

// Padding and Margins
$spacing-x-small: 2px;
$spacing-small: 4px;
$spacing-medium: 6px;
$spacing-large: 10px;
$spacing-x-large: 15px;
$spacing-xx-large: 20px;
$spacing-huge: 30px;

// Screen breakpoint
$mobile-screen-breakpoint: 700px;
$tiny-display-breakpoint: 950px;
$small-display-breakpoint: 1200px;
$medium-display-breakpoint: 1350px

