@import "variables";

.search-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: $search-input-color;
  padding-left: $spacing-large;
  padding-right: $spacing-small;
  border: none;
  border-radius: 25px;

  .search-input {
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 25px;
    background-color: $search-input-color;
    color: $search-text-color;
    font-size: medium;
  }

  .search-input:focus {
    border: none;
  }

  .search-input::placeholder {
    color: $search-text-color;
    font-size: larger;
  }
}
