@import "variables";

.scores-container {
  background-color: $black-02;
  border-radius: 25px;
  margin-left: $spacing-medium;
  margin-right: $spacing-medium;
  margin-bottom: $spacing-large;

  .day-select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 100px;
    background-color: $black-02;
    color: white;
    border-radius: 25px;

    .date-container {
      margin-left: $spacing-x-large;

      .date-select-container {
        display: flex;
        color: white;

        .selected-day {
          font-size: x-large;
        }

        .date-input {
          width: 0;
          height: 0;
          opacity: 0;
        }

        .dropdown-arrow {
        }
      }

      .date-select-container:hover {
        color: $gray-04;
        cursor: pointer;
      }
    }

    .day-shift {
      padding: 3px 4px 1px 3px;
      background-color: $gray-02;
      border-radius: 50%;
    }

    .day-shift:hover {
      background-color: white;
      color: $black-01;
      cursor: pointer;
    }

    .day-shift.left {
      margin-left: $spacing-x-large;
    }

    .day-shift.right {
      margin-right: $spacing-x-large;
    }
  }

  .games-container {
    border-top: 1px solid $black-03;
  }

  .no-games-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    color: white;
    border-top: 1px solid $black-03;
  }

  .last-scorecard .scorecard-container {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.mat-datepicker-content {
  border-radius: 25px !important;
  margin-left: -175px;
  margin-top: $spacing-huge;
}

// Desktop Styling
@media only screen and (min-width: $small-display-breakpoint ) {
  .day-select-container {
    width: 650px;
  }
  .games-container {
    width: 650px;
  }
}

// Small display Styling
@media only screen and (min-width: $tiny-display-breakpoint) and (max-width: $small-display-breakpoint) {
  .day-select-container {
    width: 600px;
  }
  .games-container {
    width: 600px;
  }
}

// Tiny display Styling
@media only screen and (min-width: $mobile-screen-breakpoint) and (max-width: $tiny-display-breakpoint) {
  .day-select-container {
    width: 550px;
  }
  .games-container {
    width: 550px;
  }
}

// Mobile Styling
@media only screen and (max-width: $mobile-screen-breakpoint) {
  .day-select-container {
    width: 100%;
  }
  .games-container {
    width: 100%;
  }
}
