@import "variables";

.player-container {
  display: flex;
  flex-direction: column;

  .player-header {
    display: flex;
    align-items: flex-end;
    height: 100px;
    margin: $spacing-medium;
    background-color: $black-02;
    border-radius: 25px;
    position: relative;
    overflow: hidden;

    .team-color-container {
      width: 75px;
      height: 100px;

      .team-line-1 {
        position: absolute;
        transform: translateY(60px) translateX(0px) rotate(-35deg);
        width: 140px;
        border-bottom: 12px solid;
        z-index: 2;
      }

      .team-line-2 {
        position: absolute;
        transform: translateY(107px) translateX(0px) rotate(-35deg);
        width: 100px;
        border-bottom: 12px solid;
        z-index: 2;
      }
    }

    .player-headshot-container {
      border-radius: 50%;
      margin-bottom: -4px;
      overflow: hidden;

      .player-headshot {
        position: relative;
        height: 87px;
        z-index: 4;
      }
    }

    .player-info {
      display: flex;
      flex-direction: column;
      margin-left: $spacing-large;
      margin-bottom: $spacing-medium;
      padding-right: $spacing-medium;

      .player-name {
        color: white;
        font-size: x-large;
        margin-left: $spacing-large;
      }

      .player-team {
        display: flex;
        align-items: center;
        margin-top: $spacing-medium;

        .player-team-logo {
          height: 40px;
        }

        .player-team-label {
          font-size: larger;
          color: $gray-03;
        }
      }
    }
  }

  .player-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .player-bio-container {
      width: 36%;
      min-width: 375px;
      background-color: $black-02;
      border-radius: 25px;
      margin: $spacing-medium;

      .bio-grid {
        height: 240px;
        padding: $spacing-x-small;
        display: grid;
        grid-auto-rows: 100px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 25%);

        .bio-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          font-size: larger;

          .item-title {
            padding: $spacing-medium;
            color: $gray-02;
          }

          .item-value {
            padding: $spacing-medium;
            color: white;
          }
        }

        .country-container {
          display: flex;
          justify-content: center;
          align-items: center;

          .country-flag {
            width: 25px;
            height: 25px;
            margin-right: $spacing-x-small;
          }
        }

        .top {
          border-bottom: 1px solid $black-03;
        }
      }
    }

    .regular-season-stats, .playoff-stats, .career-totals {
      height: 240px;
      width: 30%;
      min-width: 375px;
      margin: $spacing-small;
    }

    .match-stats-container {
      width: 68%;
      min-width: 375px;
      margin: $spacing-medium;
    }
  }
}

// Large Desktop Styling
@media only screen and (min-width: $small-display-breakpoint) {
  .player-header {
    padding-left: $spacing-huge;
    padding-right: $spacing-huge;
  }
  .player-info-container {
    justify-content: flex-start;
  }
}

// Small Desktop Styling
@media only screen and (min-width: $mobile-screen-breakpoint) and (max-width: $small-display-breakpoint) {
  .player-header {
    padding-left: $spacing-xx-large;
    padding-right: $spacing-xx-large;
  }
  .player-info-container {
    justify-content: flex-start;
  }
}

// Mobile Display
@media only screen and (max-width: $mobile-screen-breakpoint) {
  .player-name {
    font-size: larger !important;
    margin-left: $spacing-medium !important;
  }

  .player-team {
    .player-team-label {
      font-size: large !important;
    }
  }

  .player-info-container {
    flex-direction: column !important;
    align-items: flex-start;

    .player-header {
      padding-left: $spacing-small;
      padding-right: $spacing-small;
    }
    .bio-item {
      font-size: medium !important;
    }
    .country-flag {
      width: 20px !important;
      height: 20px !important;
    }
    .career-totals {
      display: none;
    }
  }
}