@import "variables";

.player-container {
  display: flex;
  flex-direction: column;

  .player-header {
    display: flex;
    align-items: flex-end;
    height: 100px;
    margin: $spacing-medium $spacing-medium $spacing-x-small $spacing-medium;
    background-color: $black-02;
    border-radius: 25px;
    position: relative;
    overflow: hidden;

    .back-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 80px;
      height: 100%;
      margin-left: $spacing-large;
    }

    .games-back-button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: large;
      color: white;

      .back-icon {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: $gray-02;
        margin-top: $spacing-x-large;
        margin-right: $spacing-large;
      }

      .games-label {
        margin-top: $spacing-x-large;
      }
    }

    .games-back-button:hover {
      cursor: pointer;

      .back-icon {
        background-color: white;
        color: $black-01;
      }

      .games-label {
        text-decoration: underline;
      }
    }

    .team-color-container {
      width: 75px;
      height: 100px;

      .team-line-1 {
        position: absolute;
        transform: translateY(60px) translateX(0px) rotate(-35deg);
        width: 140px;
        border-bottom: 12px solid;
        z-index: 2;
      }

      .team-line-2 {
        position: absolute;
        transform: translateY(107px) translateX(0px) rotate(-35deg);
        width: 100px;
        border-bottom: 12px solid;
        z-index: 2;
      }
    }

    .player-headshot-container {
      border-radius: 50%;
      margin-bottom: -4px;
      overflow: hidden;

      .player-headshot {
        position: relative;
        height: 87px;
        z-index: 4;
      }
    }

    .player-info {
      display: flex;
      flex-direction: column;
      margin-left: $spacing-large;
      margin-bottom: $spacing-medium;
      padding-right: $spacing-medium;

      .player-name {
        color: white;
        font-size: x-large;
        margin-left: $spacing-large;
      }

      .player-team {
        display: flex;
        align-items: center;
        margin-top: $spacing-medium;
        :hover {
          cursor: pointer;
          text-decoration: underline;
        }

        .player-team-logo {
          height: 40px;
          margin-right: $spacing-medium;
        }

        .player-team-label {
          font-size: larger;
          color: $gray-03;
        }
      }
    }
  }

  .player-info-container, .player-games-and-career-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .player-bio-container, .regular-season-stats, .playoff-stats, .career-totals {
      min-height: 240px;
      width: 32%;
      min-width: 375px;
      margin: $spacing-small;
    }

    .match-stats-container {
      width: 65%;
      min-width: 375px;
      margin: $spacing-small;
    }
  }
}

// Small Desktop Styling
@media only screen and (min-width: $mobile-screen-breakpoint) {
  .player-header {
    padding-left: $spacing-small;
    padding-right: $spacing-xx-large;
  }
  .shift-career-up {
    margin-top: -244px !important;
  }
  .games-back-button-mobile {
    display: none;
  }
}

// Mobile Display
@media only screen and (max-width: $mobile-screen-breakpoint) {
  .back-container {
    display: none !important;
  }
  .games-back-button-mobile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;

    .back-icon {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: $gray-02;
      margin-top: $spacing-large;
      margin-right: $spacing-small;
      margin-left: $spacing-small;

      .material-icons {
        font-size: 20px;
      }
    }

    .games-label {
      margin-top: $spacing-large;
    }
  }
  .player-name {
    font-size: larger !important;
    margin-left: $spacing-medium !important;
  }
  .player-team {
    .player-team-label {
      font-size: large !important;
    }
  }
  .player-info-container, .player-games-and-career-container{
    flex-direction: column;

    .player-header {
      padding-left: $spacing-small;
      padding-right: $spacing-small;
    }
    .player-bio-container, .regular-season-stats, .playoff-stats {
      width: 98% !important;
    }
    .career-totals, .match-stats-container {
      width: 98% !important;
    }
  }
}