<div *ngIf="player" class="player-container">
  <div class="player-header">
    <div class="back-container">
      <div class="games-back-button" (click)="backToPrevious()">
        <div class="back-icon">
          <mat-icon fontIcon="chevron_left"></mat-icon>
        </div>
        <span class="games-label">{{backButtonLabel}}</span>
      </div>
    </div>
    <div class="team-color-container">
      <div class="games-back-button-mobile" (click)="backToPrevious()">
        <div class="back-icon">
          <mat-icon fontIcon="chevron_left"></mat-icon>
        </div>
        <span class="games-label">{{backButtonLabel}}</span>
      </div>
      <div class="team-line-1" [ngStyle]="{'border-bottom-color': teamColor}"></div>
      <div class="team-line-2" [ngStyle]="{'border-bottom-color': teamColor}"></div>
    </div>
    <div class="player-headshot-container">
      <img [src]="playerHeadshot" class="player-headshot">
    </div>
    <div class="player-info">
      <span class="player-name">{{player.fullName}}</span>
      <div class="player-team" [routerLink]="['/team', this.player.currentTeam.id]">
        <img [src]="teamLogo" class="player-team-logo">
        <span class="player-team-label">{{player.currentTeam.name}}</span>
      </div>
    </div>
  </div>
  <div class="player-info-container">
    <div class="player-bio-container">
      <app-player-bio
        [player]="player"
        [countryFlagPath]="countryFlagPath"
      ></app-player-bio>
    </div>
    <div *ngIf="currentPlayoffStats" class="playoff-stats">
      <app-player-stats
          [statTitle]="'2023 NHL Playoffs Stats'"
          [player]="player"
          [stats]="currentPlayoffStats"
          [teamColor]="teamColor"
      ></app-player-stats>
    </div>
    <div *ngIf="currentYearStats" class="regular-season-stats">
      <app-player-stats
          [statTitle]="'2022-2023 NHL Regular Season Stats'"
          [player]="player"
          [stats]="currentYearStats"
          [teamColor]="teamColor"
      ></app-player-stats>
    </div>
  </div>
  <div class="player-games-container">
    <div class="match-stats-container">
      <app-recent-player-games
          [regularSeasonGames]="regularSeasonGames"
          [playoffGames]="playoffGames"
          [recentGames]="recentGames"
          [teamId]="player.currentTeam.id"
          [teamColor]="teamColor"
      ></app-recent-player-games>
    </div>
    <div class="career-totals">
    </div>
  </div>
</div>