<div *ngIf="player" class="player-container">
  <div class="player-header">
    <div class="back-container">
      <div class="games-back-button" (click)="backToPrevious()">
        <div class="back-icon">
          <mat-icon fontIcon="chevron_left"></mat-icon>
        </div>
        <span class="games-label">{{backButtonLabel}}</span>
      </div>
    </div>
    <div class="team-color-container">
      <div class="games-back-button-mobile" (click)="backToPrevious()">
        <div class="back-icon">
          <mat-icon fontIcon="chevron_left"></mat-icon>
        </div>
        <span class="games-label">{{backButtonLabel}}</span>
      </div>
      <div class="team-line-1" [ngStyle]="{'border-bottom-color': teamColor}"></div>
      <div class="team-line-2" [ngStyle]="{'border-bottom-color': teamColor}"></div>
    </div>
    <div class="player-headshot-container">
      <img [src]="playerHeadshot" (error)="showBlankHeadshot($event)" alt="" class="player-headshot">
    </div>
    <div class="player-info">
      <span class="player-name">{{playerName}}</span>
      <div *ngIf="player.currentTeamId" class="player-team" [routerLink]="['/team', player.currentTeamId]">
        <img [src]="teamLogo" alt="" class="player-team-logo">
        <span class="player-team-label">{{teamName}}</span>
      </div>
    </div>
  </div>
  <div class="player-info-container">
    <div class="player-bio-container">
      <app-player-bio
        [player]="player"
        [countryFlagPath]="countryFlagPath"
      ></app-player-bio>
    </div>
    <div *ngIf="statsFailed" class="stats-error">
      <span>Stats couldn't be loaded</span>
    </div>
    <div *ngIf="playoffStats" class="playoff-stats">
      <app-player-stats
          [statTitle]="playoffsLabel + ' NHL Playoffs Stats'"
          [stats]="playoffStats"
          [teamColor]="teamColor"
          [isGoalie]="isGoalie"
      ></app-player-stats>
    </div>
    <div *ngIf="regularSeasonStats" class="regular-season-stats">
      <app-player-stats
          [statTitle]="seasonLabel + ' NHL Regular Season Stats'"
          [stats]="regularSeasonStats"
          [teamColor]="teamColor"
          [isGoalie]="isGoalie"
      ></app-player-stats>
    </div>
  </div>
  <div class="player-games-and-career-container">
    <div *ngIf="stats?.recentGames?.length" class="match-stats-container">
      <app-recent-player-games
          [games]="stats.recentGames"
          [teamColor]="teamColor"
          [isGoalie]="isGoalie"
      ></app-recent-player-games>
    </div>
    <div *ngIf="stats?.regularSeasons?.length" class="career-totals" [ngClass]="{'shift-career-up': !playoffStats}">
      <app-player-career
          [seasons]="stats.regularSeasons"
          [isGoalie]="isGoalie"
      ></app-player-career>
    </div>
  </div>
</div>
<div *ngIf="playerFailed" class="player-error">
  <span>This player couldn't be loaded</span>
</div>
