<div class="mini-event-timeline-container">
  <div class="mini-event-timeline-header">
    <div *ngIf="homeTeamLogo" class="">
      <img [src]="homeTeamLogo" alt="" class="team-logo">
    </div>
    <span>Event Timeline</span>
    <div *ngIf="awayTeamLogo" class="">
      <img [src]="awayTeamLogo" alt="" class="team-logo">
    </div>
  </div>
  <div *ngFor="let period of periods" class="period-events">
    <div class="period-start-container">
      <span class="period-label">{{getPeriodLabel(period)}}</span>
    </div>
    <app-mini-event
        *ngFor="let play of period.plays; trackBy: trackPlay"
        [play]="play"
        [homeTeamId]="homeTeamId"
        [rosterSpots]="rosterSpots"
        [goalIndex]="goalIndexes.get(play.eventId)"
        (playerClicked)="onPlayerClicked($event)"
        (playerHovered)="onPlayerHovered($event)"
    ></app-mini-event>
  </div>
  <div *ngIf="isGameFinal" class="period-start-container">
    <span class="period-label">End</span>
  </div>
</div>
