@import "variables";

.player-stats-container {
  width: 100%;
  background-color: $black-02;
  border-radius: 25px;

  .stats-header {
    font-size: larger;
    text-align: center;
    padding: $spacing-x-large;
    border-bottom: 1px solid $black-03;
    color: white;
  }

  .stats-grid {
    display: grid;
    padding: $spacing-x-small $spacing-medium;
    grid-auto-rows: 100px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 25%);
    height: 185px;

    .stats-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: larger;

      .item-title {
        padding: $spacing-medium;
        color: $gray-02;
      }

      .item-value {
        width: fit-content;
        padding: $spacing-medium $spacing-large;
        border-radius: 25px;
        color: white;
      }
    }
  }
}

// Mobile Display
@media only screen and (max-width: $mobile-screen-breakpoint) {
  .item-title, .item-value {
    font-size: smaller;
  }
}