<div class="series-container" [ngClass]="{'smaller-version': smallerVersion}" (click)="openSeriesDialog()">
  <div class="series-header">
    <img [src]="logoA" alt="" class="team-logo" [ngClass]="{'placeholder-logo': !isLogoALoaded, 'loser': teamALost}">
    <span *ngIf="!smallerVersion" class="next-game">{{nextGameDay}}</span>
    <img [src]="logoB" alt="" class="team-logo" [ngClass]="{'placeholder-logo': !isLogoBLoaded, 'loser': teamBLost}">
  </div>
  <div class="series-info">
    <div class="team-names">
      <div>
        <span class="team-abbr" [ngClass]="{'loser': teamALost}">{{teamAName}}</span>
        <span class="team-rank">{{teamARank}}</span>
      </div>
      <span class="team-spacer"></span>
      <div>
        <span class="team-abbr" [ngClass]="{'loser': teamBLost}">{{teamBName}}</span>
        <span class="team-rank">{{teamBRank}}</span>
      </div>
    </div>
    <div class="series-score">
      <span [ngClass]="{'loser': teamALost}">{{teamAWins}}</span>
      <span class="score-spacer">-</span>
      <span [ngClass]="{'loser': teamBLost}">{{teamBWins}}</span>
    </div>
  </div>
</div>