@import "variables";

.series-container {
  display: flex;
  flex-direction: column;
  background-color: $black-03;
  border-radius: 15px;

  .series-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .loser {
      opacity: 0.4;
    }
  }

  .series-info {
    display: flex;
    flex-direction: column;

    .team-names {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: center;
      margin-top: $spacing-medium;
      margin-bottom: $spacing-medium;
    }

    .series-score {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-left: $spacing-x-large;
      padding-right: $spacing-x-large;

      .score-spacer {
        width: 60px;
        text-align: center;
      }
    }

    .loser {
      color: $gray-03;
    }
  }
}

.smaller-version {
  width: 120px !important;
  margin-top: $spacing-x-large !important;
  margin-bottom: $spacing-x-large !important;

  .series-header {
    justify-content: space-between !important;
  }

  .team-spacer {
    width: 30px !important;
  }

  .score-spacer {
    width: 50px !important;
  }
}

.dialog-backdrop {
  background: rgba(0, 0, 0, 0.65);
}

.series-container:hover {
  cursor: pointer;
  background-color: $black-04;
}

// Desktop Styling
@media only screen and (min-width: $tiny-display-breakpoint) {
  .series-container {
    width: 140px;
    margin-top: $spacing-xx-large;
    margin-bottom: $spacing-xx-large;
    padding: $spacing-medium;

    .team-abbr {
      font-size: medium;
    }

    .team-logo {
      width: 40px;
      height: 40px;
    }

    .team-rank {
      color: $gray-03;
      font-size: smaller;
    }

    .team-spacer {
      width: 40px;
    }

    .placeholder-logo {
      width: 38px !important;
      height: 30px !important;
    }

    .next-game {
      width: 50px;
      text-align: center;
    }
  }
}

// Mobile Styling
@media only screen and (max-width: $tiny-display-breakpoint) {
  .series-container {
    width: 78px;
    margin-left: $spacing-small;
    margin-right: $spacing-small;
    padding: $spacing-medium $spacing-small;

    .team-logo {
      width: 40px;
      height: 26px;
    }

    .team-abbr {
      font-size: smaller;
    }

    .team-rank {
      display: none;
    }

    .team-spacer {
      width: 10px;
    }

    .placeholder-logo {
      width: 30px !important;
      height: 25px !important;
    }

    .next-game {
      display: none;
    }
  }
}