<div class="series-container" [ngClass]="{'smaller-version': smallerVersion}" (click)="openSeriesDialog()">
  <div class="series-header">
    <img [src]="logoA" alt="" class="team-logo" [ngClass]="{'placeholder-logo': !isLogoALoaded}">
    <span *ngIf="!smallerVersion" class="next-game">{{nextGameDay}}</span>
    <img [src]="logoB" alt="" class="team-logo" [ngClass]="{'placeholder-logo': !isLogoBLoaded}">
  </div>
  <div class="series-info">
    <div class="team-names">
      <div>
        <span class="team-abbr">{{teamAName}}</span>
        <span class="team-rank">{{teamARank}}</span>
      </div>
      <span class="team-spacer"></span>
      <div>
        <span class="team-abbr">{{teamBName}}</span>
        <span class="team-rank">{{teamBRank}}</span>
      </div>
    </div>
    <div class="series-score">
      <span>{{teamAWins}}</span>
      <span class="score-spacer">-</span>
      <span>{{teamBWins}}</span>
    </div>
  </div>
</div>