@import "variables";

.scorecard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 90px;
  width: 100%;
  background-color: $black-02;
  color: white;

  .central-info {
    display: flex;
    flex-direction: column;
    padding-right: $spacing-small;
    padding-left: $spacing-small;

    .playoff-series {
      min-width: 85px;
      font-size: small;
      text-align: center;
      color: $gray-04;
      margin-bottom: $spacing-small;
    }

    .game-time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      color: $gray-04;
    }

    .game-score {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;

      .completed-status-label {
        margin-top: $spacing-small;
        color: $gray-04;
      }

      .live-status-label {
        min-width: 75px;
        margin-top: $spacing-small;
        color: $green-01;
      }
    }
  }

  .home-team {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding-left: $spacing-medium;

    .logo-container {
      min-width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $spacing-small;

      .home-team-logo {
        height: 35px;
      }
    }
  }

  .away-team {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: $spacing-medium;

    .logo-container {
      min-width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $spacing-small;

      .away-team-logo {
        height: 35px;
      }
    }
  }
}

.scorecard-container:hover {
  background-color: $black-03;
  cursor: pointer;
}

.scorecard-container:focus {
  outline: none;
}

.smaller-scorecard {
  height: 75px !important;
}

// Desktop Styling
@media only screen and (min-width: $mobile-screen-breakpoint) {
  .central-info {
    min-width: 60px;
  }
  .home-team {
    width: 280px;
  }
  .away-team {
    width: 280px;
  }
}

// Mobile Styling
@media only screen and (max-width: $mobile-screen-breakpoint) {
  .scorecard-container {

    .central-info {
      min-width: 45px;

      .live-status-label {
        font-size: smaller;
        white-space: nowrap;
      }
    }
    .home-team {
      width: 40%;
    }
    .away-team {
      width: 40%;
    }

    .smaller-text {
      font-size: smaller;
    }
  }
}
