@import "variables";

.scorecard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 90px;
  width: 100%;
  background-color: $black-02;
  color: white;

  .central-info {
    display: flex;
    flex-direction: column;
    padding-right: $spacing-x-small;
    padding-left: $spacing-x-small;

    .playoff-series {
      font-size: small;
      text-align: center;
      color: $gray-04;
      margin-bottom: $spacing-small;
    }

    .game-time {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: $gray-04;
    }

    .game-score {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      .completed-status-label {
        margin-top: $spacing-small;
        color: $gray-04;
      }

      .live-status-label {
        margin-top: $spacing-small;
        color: $green-01;
      }
    }
  }

  .home-team {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding-left: $spacing-medium;

    .home-team-logo {
      height: 30px;
      margin-top: -5px;
      margin-left: $spacing-medium;
    }
  }

  .away-team {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: $spacing-medium;

    .away-team-logo {
      height: 30px;
      margin-top: -5px;
      margin-right: $spacing-medium;
    }
  }
}

.scorecard-container:hover {
  background-color: $black-03;
  cursor: pointer;
}

// Desktop Styling
@media only screen and (min-width: $mobile-screen-breakpoint) {
  .central-info {
    width: 90px;
  }
  .home-team {
    width: 280px;
  }
  .away-team {
    width: 280px;
  }
}

// Mobile Styling
@media only screen and (max-width: $mobile-screen-breakpoint) {
  .central-info {
    min-width: 85px;
  }
  .home-team {
    width: 40%;
  }
  .away-team {
    width: 40%;
  }
}
