<div class="key-event-container">
  <div class="home-event event-description">
    <div *ngIf="isHomeEvent" class="event-text event-text-home">
      <div *ngIf="isEventGoal" class="event-main-label home-label" (click)="onMainPlayerClicked()">
        <span class="color-green">{{eventPlayerName}}</span>
        <div class="score-update">
          <span> (</span>
          <span class="color-green">{{goalEventHomeScore}}</span>
          <span> - </span>
          <span>{{goalEventAwayScore}}</span>
          <span>)</span>
        </div>
      </div>
      <div *ngIf="!isEventGoal" (click)="onMainPlayerClicked()">
        <span class="event-main-label home-label">{{eventPlayerName}}</span>
      </div>
      <span class="event-secondary-label">{{eventSecondaryLabel}}</span>
    </div>
    <mat-icon *ngIf="isHomeEvent" [fontIcon]="fontIcon" class="event-icon"></mat-icon>
  </div>
  <div class="event-time">
    <span>{{periodTime}}</span>
  </div>
  <div class="away-event event-description">
    <mat-icon *ngIf="!isHomeEvent" [fontIcon]="fontIcon" class="event-icon"></mat-icon>
    <div *ngIf="!isHomeEvent" class="event-text event-text-away">
      <div *ngIf="isEventGoal" class="event-main-label away-event" (click)="onMainPlayerClicked()">
        <span class="color-green">{{eventPlayerName}}</span>
        <div class="score-update">
          <span> (</span>
          <span>{{goalEventHomeScore}}</span>
          <span> - </span>
          <span class="color-green">{{goalEventAwayScore}}</span>
          <span>)</span>
          </div>
      </div>
      <div *ngIf="!isEventGoal" (click)="onMainPlayerClicked()">
        <span class="event-main-label">{{eventPlayerName}}</span>
      </div>
      <span class="event-secondary-label">{{eventSecondaryLabel}}</span>
    </div>
  </div>
</div>
