<div class="key-event-container">
  <div class="home-event event-description">
    <div *ngIf="isHomeEvent" class="event-text">
      <div *ngIf="isEventGoal" class="goal-event event-text-home">
        <div class="event-main-label home-label" (click)="onMainPlayerClicked()">
          <span class="color-green">{{eventPlayerName}}</span>
          <div class="score-update">
            <span> (</span>
            <span class="color-green">{{goalEventHomeScore}}</span>
            <span> - </span>
            <span>{{goalEventAwayScore}}</span>
            <span>)</span>
          </div>
        </div>
        <div>
          <span *ngIf="goalEventAssists.length > 0" class="event-secondary-label">Assists: </span>
          <span *ngIf="goalEventAssists.length === 0" class="event-secondary-label">Unassisted</span>
          <span *ngFor="let assist of goalEventAssists, let i = index" class="event-secondary-label assist-name"
                (click)="onAssistClicked(i)">{{assist}}</span>
        </div>
      </div>
      <div *ngIf="!isEventGoal" class="penalty-event event-text-home">
        <span class="event-main-label home-label penalty" (click)="onMainPlayerClicked()">{{eventPlayerName}}</span>
        <span class="event-secondary-label">{{penaltyType}}</span>
      </div>
    </div>
    <mat-icon *ngIf="isHomeEvent && !isEventGoal" [fontIcon]="fontIcon" class="event-icon"></mat-icon>
    <div class="goal-icon-container" *ngIf="isHomeEvent && isEventGoal">
      <img class="puck-icon" src="assets/puck.png">
    </div>
  </div>
  <div class="event-time">
    <span>{{periodTime}}</span>
  </div>
  <div class="away-event event-description">
    <mat-icon *ngIf="!isHomeEvent" [fontIcon]="fontIcon" class="event-icon"></mat-icon>
    <div *ngIf="!isHomeEvent" class="event-text">
      <div *ngIf="isEventGoal" class="goal-event">
        <div class="event-main-label away-label" (click)="onMainPlayerClicked()">
          <span class="color-green">{{eventPlayerName}}</span>
          <div class="score-update">
            <span> (</span>
            <span>{{goalEventHomeScore}}</span>
            <span> - </span>
            <span class="color-green">{{goalEventAwayScore}}</span>
            <span>)</span>
          </div>
        </div>
        <div>
          <span *ngIf="goalEventAssists.length > 0" class="event-secondary-label">Assists: </span>
          <span *ngIf="goalEventAssists.length === 0" class="event-secondary-label">Unassisted</span>
          <span *ngFor="let assist of goalEventAssists, let i = index" class="event-secondary-label assist-name"
                (click)="onAssistClicked(i)">{{assist}}</span>
        </div>
      </div>
      <div *ngIf="!isEventGoal" class="penalty-event">
        <span class="event-main-label home-label penalty" (click)="onMainPlayerClicked()">{{eventPlayerName}}</span>
        <span class="event-secondary-label">{{penaltyType}}</span>
      </div>
    </div>
  </div>
</div>
