@import "variables";

.team-container {
  display: flex;
  flex-direction: column;

  .team-header {
    display: flex;
    align-items: center;
    height: 100px;
    margin: $spacing-medium $spacing-medium $spacing-x-small $spacing-medium;
    background-color: $black-02;
    border-radius: 25px;
    position: relative;
    overflow: hidden;

    .back-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100%;

      .games-back-button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        .back-icon {
          border-radius: 50%;
          background-color: $gray-02;
          margin-top: $spacing-x-large;
        }

        .games-label {
          margin-top: $spacing-x-large;
        }
      }

      .games-back-button:hover {
        cursor: pointer;

        .back-icon {
          background-color: white;
          color: $black-01;
        }

        .games-label {
          text-decoration: underline;
        }
      }
    }

    .team-logo-container {
      .team-logo {
        position: relative;
        z-index: 4;
      }
    }

    .team-info {
      display: flex;
      flex-direction: column;

      .team-name {
        color: white;
      }

      .team-division {
        display: flex;
        align-items: center;
        margin-top: $spacing-medium;

        .team-division-label {
          color: $gray-03;
        }
      }
    }
  }

  .team-data-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .team-standings {
      width: 65%;
      min-width: 375px;
      margin: $spacing-small;
    }

    .team-info-container {
      display: flex;
      flex-direction: column;
      min-width: 250px;
      min-height: 700px;
      margin: $spacing-small;

      .team-form-container, .team-next-game-container, .next-game-container {
        margin-top: $spacing-large;
      }
    }
  }
}

// Small Desktop Styling
@media only screen and (min-width: $mobile-screen-breakpoint) {
  .back-container {
    width: 80px;
    margin-left: $spacing-x-large;

    .games-back-button {
      font-size: large;

      .back-icon {
        height: 25px;
        width: 25px;
        margin-right: $spacing-large;
      }
    }
  }
  .team-logo-container {
    margin-left: $spacing-large;

    .team-logo {
      height: 85px;
    }
  }
  .team-info {
    margin-left: $spacing-large;
    margin-bottom: $spacing-medium;
    padding-right: $spacing-medium;

    .team-name {
      font-size: x-large;
    }

    .team-division {
      .team-division-label {
        font-size: large;
      }
    }
  }

  .team-data-container {
    flex-direction: row;

    .team-info-container {
      width: 32%;
    }
  }
}

// Mobile Display
@media only screen and (max-width: $mobile-screen-breakpoint) {
  .back-container {
    width: 60px;
    margin-left: $spacing-large;

    .games-back-button {
      font-size: medium;

      .back-icon {
        height: 20px;
        width: 20px;
        margin-right: $spacing-large;

        .material-icons {
          font-size: 20px;
        }
      }
    }
  }
  .team-logo-container {
    margin-left: $spacing-medium;

    .team-logo {
      height: 75px;
    }
  }
  .team-info {
    margin-left: $spacing-medium;
    margin-bottom: $spacing-small;
    padding-right: $spacing-small;

    .team-name {
      font-size: larger;
    }

    .team-division {
      .team-division-label {
        font-size: medium;
      }
    }
  }

  .team-data-container {
    flex-direction: column;

    .team-info-container {
      width: 100%;
    }
  }
}
