<div class="team-container">
  <div class="team-header">
    <div class="back-container">
      <div class="games-back-button" (click)="backToPrevious()">
        <div class="back-icon">
          <mat-icon fontIcon="chevron_left"></mat-icon>
        </div>
        <span class="games-label">{{backButtonLabel}}</span>
      </div>
    </div>
    <div *ngIf="team" class="team-logo-container">
      <app-team-logo class="team-logo" [teamId]="teamId" [size]="logoSize" [width]="logoMaxWidth"></app-team-logo>
    </div>
    <div class="team-info">
      <span class="team-name">{{team ? teamName : 'Team not found'}}</span>
      <div *ngIf="divisionName" class="team-division">
        <span class="team-division-label">{{divisionName}} Division</span>
      </div>
    </div>
  </div>
  <div *ngIf="team" class="team-data-container">
    <div class="team-main-container">
      <div class="team-stats-container">
        <app-team-stats
          [teamId]="teamId"
          [teamStats]="teamStats"
        ></app-team-stats>
      </div>
      <div *ngIf="standings?.length" class="team-standings">
        <app-standings
            [selectedTeamId]="teamId"
            [standings]="standings"
            [defaultStandingsType]="NhlStandingsTypeEnum.BY_CONFERENCE"
            [showFormAndNext]="false"
        ></app-standings>
      </div>
    </div>
    <div class="team-info-container">
      <div *ngIf="nextGame" class="next-game-container">
        <app-team-next-game
            [game]="nextGame"
        ></app-team-next-game>
      </div>
      <div class="team-form-container">
        <app-single-team-form
          [teamId]="teamId"
          [games]="formGames"
        ></app-single-team-form>
      </div>
      <div class="team-next-game-container">
        <app-team-schedule
          [games]="scheduleGames"
        ></app-team-schedule>
      </div>
    </div>
  </div>
</div>
