<div class="app-container">
  <app-header></app-header>
  <div class="routerOutlet">
    <router-outlet></router-outlet>
  </div>
  <div class="mobile-menu" [class.hidden]="!isMobileMenuShown">
    <div id="games-item" class="menu-item" [ngClass]="{selected : isGamesSelected}" [routerLink]="['/']">
      <mat-icon svgIcon="lucide:calendar-days"></mat-icon>
      <span>Games</span>
    </div>
    <div id="playoffs-item" class="menu-item" [ngClass]="{selected : menuUrl === '/standings'}" [routerLink]="['/standings']">
      <mat-icon svgIcon="lucide:list-ordered"></mat-icon>
      <span>Standings</span>
    </div>
    <div id="stats-item" class="menu-item" [ngClass]="{selected : menuUrl === '/stats'}" [routerLink]="['/stats']">
      <mat-icon svgIcon="lucide:chart-no-axes-column"></mat-icon>
      <span>Stats</span>
    </div>
  </div>
  <app-footer></app-footer>
</div>
