@import "variables";

.nav-menu-item {
  height: 50px;
  width: 250px;
  padding-left: $spacing-xx-large;
  padding-right: $spacing-xx-large;
  background-color: black;
  color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;


  .nav-menu-text {
    margin-left: $spacing-large;
  }
}

.nav-menu-item:hover {
  background-color: $black-02;
  cursor: pointer;
}
