<div class="game-page-container">
  <div class="main-game">
    <div class="dropdown-header" id="dropdownHeader">
      <app-game-header
          [isDropdownHeader]="true"
          [landing]="landing"
          [seriesStatus]="seriesStatus"
          [intermissionTimeRemaining]="intermissionTimeRemaining"
          [homeTeamLogo]="homeTeamLogo"
          [awayTeamLogo]="awayTeamLogo"
          [isIntermission]="isIntermission"
      ></app-game-header>
    </div>
    <div *ngIf="loadFailed" class="game-load-error">
      <div class="games-back-button" (click)="backToPrevious()">
        <div class="back-icon">
          <mat-icon fontIcon="chevron_left"></mat-icon>
        </div>
        <span class="games-label">{{backButtonLabel}}</span>
      </div>
      <span class="game-load-error-message">This game couldn't be loaded.</span>
    </div>
    <div class="game-header" *ngIf="landing">
      <div class="league-info">
        <div class="games-back-button" (click)="backToPrevious()">
          <div class="back-icon">
            <mat-icon fontIcon="chevron_left"></mat-icon>
          </div>
          <span class="games-label">{{backButtonLabel}}</span>
        </div>
        <div class="league-info-container" [routerLink]="[leagueRouterLink]">
          <img class="nhl-logo" src="assets/nhl_logo.png">
          <span class="league-info-label">{{gameInfoLabel}}</span>
        </div>
        <a class="watch-button" [href]="watchLink" target="_blank" rel="noopener">
          <mat-icon class="watch-icon" [fontIcon]="watchIcon"></mat-icon>
          <span class="watch-link">{{watchLabel}}</span>
        </a>
      </div>
      <div class="expanded-scorecard-container">
        <app-game-header
            [isDropdownHeader]="false"
            [landing]="landing"
            [seriesStatus]="seriesStatus"
            [intermissionTimeRemaining]="intermissionTimeRemaining"
            [homeTeamLogo]="homeTeamLogo"
            [awayTeamLogo]="awayTeamLogo"
            [isIntermission]="isIntermission"
        ></app-game-header>
        <app-goal-scorers
            *ngIf="haveGoalsBeenScored"
            [scoring]="scoringPeriods"
            (scorerClicked)="openPlayerGameDialog($event)">
        </app-goal-scorers>
      </div>
      <div class="game-info-container">
        <div class="game-info-item game-date-time">
          <mat-icon fontIcon="calendar_today"></mat-icon>
          <span>{{gameDateTime}}</span>
        </div>
        <div class="game-info-item game-venue-container">
          <mat-icon fontIcon="stadium"></mat-icon>
          <span>{{gameVenue}}</span>
        </div>
        <div *ngIf="tvInfo" class="game-info-item game-tv-container">
          <mat-icon fontIcon="tv"></mat-icon>
          <span class="info-label">{{tvInfo}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="showTopPlayers" class="game-container">
      <app-game-top-players
          [homePlayers]="homePlayers"
          [awayPlayers]="awayPlayers"
          [homeCoach]="homeCoach"
          [awayCoach]="awayCoach"
          [homeTeamLogo]="homeTeamLogo"
          [awayTeamLogo]="awayTeamLogo"
          (playerClicked)="openPlayerGameDialog($event)"
      ></app-game-top-players>
    </div>
    <div *ngIf="!futureGame && playByPlay" class="game-container">
      <app-momentum [playByPlay]="playByPlay"></app-momentum>
    </div>
    <div *ngIf="showGameStats" class="game-container">
      <app-game-stats
          [teamGameStats]="rightRail.teamGameStats"
          [homeTeamId]="landing.homeTeam.id"
          [awayTeamId]="landing.awayTeam.id"
          [homeTeamLogo]="homeTeamLogo"
          [awayTeamLogo]="awayTeamLogo"
      ></app-game-stats>
    </div>
    <div *ngIf="landing && showTeamForm" class="game-container">
      <app-team-form
          [homeTeamId]="landing.homeTeam.id"
          [awayTeamId]="landing.awayTeam.id"
          [homeTeamGames]="homeTeamFormGames"
          [awayTeamGames]="awayTeamFormGames"
      ></app-team-form>
    </div>
    <!-- On mobile the event timeline comes last, below the stats -->
    <div *ngIf="!futureGame && playByPlay" class="game-container mobile-only">
      <app-mini-event-timeline
          [playByPlay]="playByPlay"
          (playerClicked)="openPlayerGameDialog($event)"
      ></app-mini-event-timeline>
    </div>
  </div>
  <div *ngIf="!futureGame && playByPlay" class="side-game">
    <app-mini-event-timeline
        [playByPlay]="playByPlay"
        [homeTeamLogo]="homeTeamLogo"
        [awayTeamLogo]="awayTeamLogo"
        (playerClicked)="openPlayerGameDialog($event)"
    ></app-mini-event-timeline>
  </div>
</div>
