@import "variables";

$central-info-width: 130px;

.main-game {
  margin-top: $spacing-small;
  display: flex;
  flex-direction: column;
  align-items: center;

  .game-header {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;

    .league-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 70px;
      background-color: $black-02;
      color: white;

      border-top-left-radius: 25px;
      border-top-right-radius: 25px;

      .games-back-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        margin-left: $spacing-medium;
        font-size: large;

        .back-icon {
          border-radius: 50%;
          background-color: $gray-02;
          height: 25px;
          width: 25px;
          margin-right: $spacing-large;
        }
      }

      .games-back-button:hover {
        cursor: pointer;

        .back-icon {
          background-color: white;
          color: $black-01;
        }

        .games-label {
          text-decoration: underline;
        }
      }

      .league-info-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .nhl-logo {
          width: 30px;
          margin-right: $spacing-medium;
        }

        .league-info-label {
          font-size: larger;
        }
      }

      .info-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
      }
    }

    .expanded-scorecard-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      border-top: 1px solid $black-03;
      border-bottom: 1px solid $black-03;

      .main-score-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        min-height: 90px;
        background-color: $black-02;
        color: white;

        .game-day-time-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          width: $central-info-width;
          padding-right: $spacing-medium;
          padding-left: $spacing-medium;
          padding-bottom: $spacing-medium;

          .playoff-series-label {
            margin-top: $spacing-small;
            font-size: medium;
            color: $gray-04;
          }

          .game-day-label {
            margin-top: $spacing-small;
            font-size: large;
            color: $gray-04;
          }
        }

        .future-game {
          width: 170px !important;
        }

        .game-score {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          width: $central-info-width;
          padding-right: $spacing-x-small;
          padding-left: $spacing-x-small;

          .completed-status-label {
            margin-top: $spacing-small;
            font-size: large;
            color: $gray-04;
          }

          .live-status-label {
            margin-top: $spacing-small;
            font-size: large;
            color: $green-01;
          }
        }

        .home-team-header {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 380px;
          text-align: center;

          .home-team-logo {
            height: 60px;
            margin-top: -5px;
            margin-left: $spacing-medium;
          }
        }

        .away-team-header {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 380px;
          text-align: center;
          padding: $spacing-small;

          .away-team-logo {
            height: 60px;
            margin-top: -5px;
            margin-right: $spacing-medium;
          }
        }
      }
    }

    .game-info-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 70px;
      background-color: $black-02;
      color: $gray-04;
      width: 100%;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;

      .game-info-item {
        display: flex;
        justify-content: center;
        align-items: center;

        mat-icon {
          margin-right: $spacing-medium;
        }
      }

      .game-tv-container {
        .stream-link {
          color: $gray-04;
          text-decoration-line: none;
        }
      }

      .game-tv-container:hover {
        color: white;

        .stream-link {
          color: white;
          text-decoration-line: underline;
        }
      }
    }
  }

  .game-container {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
  }
}

// Desktop Styling
@media only screen and (min-width: $mobile-screen-breakpoint) {

  .game-header {
    width: 900px;

    .home-team-header {
      flex-direction: row;
      font-size: x-large;
    }

    .away-team-header {
      flex-direction: row;
      font-size: x-large;
    }

    .game-time-label, .game-score-label {
      font-size: xx-large;
    }

    .game-info-item {
      width: 250px;
      font-size: medium;
    }
  }

  .game-container {
    width: 900px;
  }
}

// Mobile Styling
@media only screen and (max-width: $mobile-screen-breakpoint) {

  .game-header {
    width: 100%;

    .league-info-label {
      display: none;
    }

    .info-label {
      display: none;
    }

    .home-team-header {
      flex-direction: column-reverse;
      font-size: large;
    }

    .away-team-header {
      flex-direction: column;
      font-size: large;
    }

    .game-time-label, .game-score-label {
      text-align: center;
      font-size: x-large;
    }

    .game-info-item {
      width: 30%;
      font-size: small;
    }
  }

  .game-container {
    width: 100%;
  }
}
