<div class="game-container">
  <div class="game-header">
    <div class="league-info">
      <div class="games-back-button" (click)="backToScoreboard()">
        <div class="back-icon">
          <mat-icon fontIcon="chevron_left"></mat-icon>
        </div>
        <span class="games-label">Games</span>
      </div>
      <div class="league-info-container">
        <img class="nhl-logo" src="assets/nhl_logo.png">
        <span class="league-info-label">{{gameType}}</span>
      </div>
      <span class="info-label">Info</span>
    </div>
    <div class="expanded-scorecard-container">
      <div class="main-score-container">
        <div class="home-team-header">
          <span>{{homeTeamName}}</span>
          <img [src]="homeTeamLogo" alt="" class="home-team-logo" *ngIf="!isHomeLogoLoading">
        </div>
        <div *ngIf="futureGame" class="game-day-time-container future-game">
          <span class="game-time-label">{{gameTime}}</span>
          <span class="game-day-label">{{gameDay}}</span>
        </div>
        <div *ngIf="completedGame" class="game-score">
          <span class="game-score-label">{{gameScore}}</span>
          <span class="completed-status-label">{{completedGameStatus}}</span>
        </div>
        <div *ngIf="liveGame" class="game-score">
          <span class="game-score-label">{{gameScore}}</span>
          <span *ngIf="liveGame" class="live-status-label">{{liveGameStatus}}</span>
        </div>
        <div class="away-team-header">
          <img [src]="awayTeamLogo" alt="" class="away-team-logo" *ngIf="!isAwayLogoLoading">
          <span>{{awayTeamName}}</span>
        </div>
      </div>
      <app-goal-scorers
          *ngIf="haveGoalsBeenSCored"
          [numPeriods]="gameLinescore.periods.length"
          [homeTeamGoals]="homeTeamGoals"
          [awayTeamGoals]="awayTeamGoals">
      </app-goal-scorers>
    </div>
    <div class="game-info-container">
      <div class="game-info-item game-date-time">
        <mat-icon fontIcon="calendar_today"></mat-icon>
        <span>{{gameDateTime}}</span>
      </div>
      <div class="game-info-item game-venue-container">
        <mat-icon fontIcon="stadium"></mat-icon>
        <span>{{gameVenue}}</span>
      </div>
      <div class="game-info-item game-tv-container">
        <mat-icon fontIcon="tv"></mat-icon>
        <a class="stream-link" [href]="gameStreamLink">Game Stream</a>
      </div>
    </div>
    <div class="game-info"></div>
  </div>
  <div class="key-events-container">
    <app-event-timeline
        [gameLiveData]="gameLiveData"
    ></app-event-timeline>
  </div>
</div>
