@import "variables";

.team-schedule {
  background-color: $black-02;
  border-radius: 25px;
  overflow: hidden;
  color: white;

  .team-schedule-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 17px;
    font-weight: 500;
  }

  // The same dividers as the home page's scoreboard
  .future-game-container {
    border-bottom: 1px solid $black-03;
  }

  .last-scorecard {
    border-bottom: none !important;
  }

  .no-games {
    text-align: center;
    padding: $spacing-large;
    color: $gray-03;
  }
}