@import "variables";

.playoff-summary-container {

  background-color: $black-02;
  border-radius: 25px;
  margin-left: $spacing-medium;
  margin-right: $spacing-medium;
  margin-bottom: $spacing-large;

  .playoffs-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    font-size: large;
    border-bottom: 1px solid $black-03;
  }

  .playoffs-title:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .series-summaries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .series-summary {
    }
  }
}
