<div class="game-stats-container">
  <div class="game-stats-header">
    <span>Game Stats</span>
  </div>
  <div class="all-stats-container">
    <div class="shots-container">
      <div class="shots-header">
        <span>Shots</span>
      </div>
      <div class="shot-chart-logo-container">
        <div *ngIf="homeTeamLogo" class="team-shots">
          <img [src]="homeTeamLogo" alt="" class="team-logo">
        </div>
        <div class="chart-container">
          <canvas #shotChart></canvas>
        </div>
        <div *ngIf="awayTeamLogo" class="team-shots">
          <img [src]="awayTeamLogo" alt="" class="team-logo">
        </div>
      </div>
      <div class="shot-labels">
        <span class="shot-number">{{homeShots}}</span>
        <span class="shot-number">{{awayShots}}</span>
      </div>
    </div>
    <div class="team-stats-container">
      <div *ngFor="let row of statRows" class="team-stats-row">
        <span class="home team-stat" [ngStyle]="{'background-color': row.homeBetter ? homeColor : ''}">
          {{row.homeValue}}
        </span>
        <span class="stats-label">{{row.label}}</span>
        <span class="away team-stat" [ngStyle]="{'background-color': row.awayBetter ? awayColor : ''}">
          {{row.awayValue}}
        </span>
      </div>
    </div>
  </div>
</div>
