@import "variables";

.game-stats-container {
  background-color: $black-02;
  border-radius: 25px;
  color: white;

  .game-stats-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  .stats-container {
    display: flex;
    justify-content: space-around;

    .shots-container {
      width: 45%;
    }

    .team-stats-container {
      width: 45%;
    }
  }
}
