@import "variables";

.player-bio {
  width: 100%;
  background-color: $black-02;
  border-radius: 25px;

  .bio-grid {
    height: 240px;
    padding: $spacing-x-small;
    display: grid;
    grid-auto-rows: 100px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 25%);

    .bio-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-size: larger;

      .item-title {
        padding: $spacing-medium;
        color: $gray-02;
      }

      .item-value {
        padding: $spacing-medium;
        color: white;
      }
    }

    .country-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .country-flag {
        width: 25px;
        height: 25px;
        margin-right: $spacing-x-small;
      }
    }

    .top {
      border-bottom: 1px solid $black-03;
    }
  }
}

// Mobile Display
@media only screen and (max-width: $mobile-screen-breakpoint) {
  .bio-item {
      font-size: medium !important;
    }
  .country-flag {
    width: 20px !important;
    height: 20px !important;
  }
}
