@import "variables";

.search-container {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: $black-03;
  padding-left: $spacing-large;
  padding-right: $spacing-small;
  border: none;
  border-radius: 25px;

  .search-input {
    height: 50px;
    border: none;
    border-radius: 25px;
    margin-left: $spacing-medium;
    background-color: $black-03;
    color: white;
    font-size: medium;
  }

  .search-input:focus {
    border: none;
  }

  .search-input::placeholder {
    color: $gray-02;
  }
}

.mat-datepicker-content {
  background-color: $black-04;
}

// Desktop Styling
@media only screen and (min-width: $mobile-screen-breakpoint) {

  .search-container {
    justify-content: space-between;

    .search-input {
      width: 300px;
    }
    .search-input::placeholder {
      font-size: larger;
    }
  }
}

// Mobile Styling
@media only screen and (max-width: $mobile-screen-breakpoint) {

  .search-input {
    width: 100%;
  }

  .search-input::placeholder {
    color: $gray-02;
    font-size: small;
  }
}
