<div class="game-top-players-container">
  <div class="game-top-players-header">
    <span>Top Players</span>
  </div>
  <div class="top-players-container">
    <div class="home-players">
      <ng-container *ngTemplateOutlet="teamPlayers; context: {top: topHomePlayers, more: moreHomePlayers}"></ng-container>
    </div>
    <div class="team-divider"></div>
    <div class="away-players">
      <ng-container *ngTemplateOutlet="teamPlayers; context: {top: topAwayPlayers, more: moreAwayPlayers}"></ng-container>
    </div>
  </div>
  <div class="expand-button-container" *ngIf="hasMorePlayers">
    <button type="button" class="expand-button" (click)="toggleExpanded()" [class.expanded]="expanded"
            [attr.aria-expanded]="expanded" [attr.aria-label]="expanded ? 'Show fewer players' : 'Show more players'">
      <mat-icon class="expand-icon">expand_more</mat-icon>
    </button>
  </div>
</div>

<ng-template #teamPlayers let-top="top" let-more="more">
  <div class="top-player-list">
    <ng-container *ngTemplateOutlet="playerList; context: {$implicit: top}"></ng-container>
  </div>
  <div class="more-players" [class.expanded]="expanded" [attr.inert]="expanded ? null : ''">
    <div class="more-players-inner">
      <div class="more-player-list">
        <ng-container *ngTemplateOutlet="playerList; context: {$implicit: more}"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #playerList let-players>
  <div *ngFor="let player of players; trackBy: trackByPlayerId" (click)="clickPlayer(player)" class="top-player">
    <div class="player-headshot-container">
      <img [src]="player.headshot" (error)="showBlankHeadshot($event)" alt="" class="player-headshot">
    </div>
    <div class="hokmob-score-container" [ngStyle]="{'background-color': getHokmobScoreColor(player)}">
      <span>{{player.hokmobRating}}</span>
      <mat-icon *ngIf="player.playerId === gameMvpPlayerId" class="star-icon">star</mat-icon>
    </div>
    <div *ngIf="player.skaterStats">
      <div class="player-goal-container" *ngIf="player.skaterStats.goals > 0">
        <img class="puck-icon" src="assets/puck.png">
      </div>
      <div class="player-goal-container goal-2" *ngIf="player.skaterStats.goals > 1">
        <img class="puck-icon" src="assets/puck.png">
      </div>
      <div class="player-goal-container goal-3" *ngIf="player.skaterStats.goals > 2">
        <img class="puck-icon" src="assets/puck.png">
      </div>
    </div>
    <div *ngIf="player.goalieStats" class="goalie-icon-container">
      <img class="goalie-icon" src="assets/goalie_mask.png">
    </div>
    <div class="player-name">
      <span>{{player.name}}</span>
    </div>
  </div>
</ng-template>
