@import "variables";

.player-recent-games-container {
  color: white;
  background-color: $black-02;
  border-radius: 25px;

  .recent-games-header {
    height: 25px;
    display: flex;
    align-items: center;
    padding-top: $spacing-large;
    padding-bottom: $spacing-small;
    padding-left: $spacing-xx-large;
    font-size: larger;
  }

  .recent-games-table {
    width: 100%;
    border-collapse: collapse;

    .player-game-header {
      text-align: left;

      th {
        padding: $spacing-x-large;
        color: $gray-03;
        font-weight: normal;
      }
    }

    .player-game-row {
      border-bottom: 1px solid $black-04;

      td {
        font-weight: lighter;
        padding: $spacing-x-large;
      }

      .date-cell {
        color: $gray-03;
      }

      .opponent-cell {
        display: flex;
        align-items: center;

        .logo-container {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: $spacing-medium;

          .opponent-logo {
            width: 35px;
          }
        }

        .game-score {
          color: $gray-03;
          margin-left: $spacing-large;
        }
      }

      .opponent-cell:hover {
        cursor: pointer;
        color: $gray-02;

        .opponent-logo {
          opacity: 0.5;
        }

        .game-score {
          color: $gray-02;
        }
      }

      .rating-cell {
        padding: $spacing-medium $spacing-large;
        text-align: center;
        border-radius: 15px;
      }
    }

    .last-row {
      border-bottom: none !important;
    }

    .stat-cell {
      text-align: center;
    }
  }
}

// Desktop Styling
@media only screen and (min-width: $tiny-display-breakpoint) {
  .player-game-header {
    .date-header {
      width: 12%;
    }
    .vs-header {
      width: 20%;
    }
    .toi-header {
      width: 9%;
    }
    .goals-header {
      width: 9%;
    }
    .assists-header {
      width: 9%;
    }
    .shots-header {
      width: 9%;
    }
    .hits-header {
      width: 9%;
    }
    .plus-minus-header {
      width: 9%;
    }
    .pim-header {
      width: 9%;
    }
    .rating-header {
      width: 9%;
    }
  }
}


// Mobile Display
@media only screen and (max-width: $tiny-display-breakpoint) {
  .player-game-header {
    .date-header {
      width: 18%;
    }
    .vs-header {
      width: 43%;
    }
    .toi-header {
      width: 9%;
    }
    .goals-header {
      width: 9%;
    }
    .assists-header {
      width: 9%;
    }
    .shots-header {
      display: none;
    }
    .hits-header {
      display: none;
    }
    .plus-minus-header {
      display: none;
    }
    .pim-header {
      display: none;
    }
    .rating-header {
      width: 12%;
    }
  }
  th {
    font-size: smaller;
    font-weight: lighter !important;
    padding: $spacing-medium !important;
  }
  td {
    padding: $spacing-medium !important;
    font-size: smaller;
  }
  .logo-container {
    width: 30px !important;
    height: 30px !important;

    .opponent-logo {
      width: 25px !important;
    }
  }
  .hide-mobile {
    display: none;
  }
}