<div class="player-recent-games-container">
  <div class="recent-games-header">
    <span>Recent Games</span>
  </div>
  <table *ngIf="!isGoalie" class="recent-games-table">
    <thead>
      <tr class="player-game-header">
        <th class="date-header"><span>Date</span></th>
        <th class="vs-header"><span>VS</span></th>
        <th class="toi-header"><span [title]="'Time On Ice'">TOI</span></th>
        <th class="goals-header stat-cell"><span>Goals</span></th>
        <th class="assists-header stat-cell"><span>Assists</span></th>
        <th class="shots-header stat-cell"><span>Shots</span></th>
        <th class="hits-header stat-cell"><span>Hits</span></th>
        <th class="plus-minus-header stat-cell"><span>+/-</span></th>
        <th class="pim-header stat-cell"><span [title]="'Penalty Minutes'">PIM</span></th>
        <th class="rating-header stat-cell"><span [title]="'HokMob Rating'">Rating</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of lastTenGames, let i = index, let isLast = last" class="player-game-row" [ngClass]="{'last-row': isLast}">
        <td class="date-cell"><span>{{getDateString(game.date)}}</span></td>
        <td class="opponent-cell" [routerLink]="['/game', game.game.gamePk]">
          <img class="opponent-logo" [src]="teamLogos[i]">
          <span>{{game.opponent.abbreviation}}</span>
          <span class="game-score">{{getRecentGameScore(i)}}</span>
        </td>
        <td><span>{{game.stat.timeOnIce}}</span></td>
        <td class="stat-cell"><span [ngStyle]="{'color': game.stat.goals > 0 ? '#84dc7b' : ''}">{{game.stat.goals}}</span></td>
        <td class="stat-cell"><span [ngStyle]="{'color': game.stat.assists > 0 ? '#84dc7b' : ''}">{{game.stat.assists}}</span></td>
        <td class="stat-cell hide-mobile"><span>{{game.stat.shots}}</span></td>
        <td class="stat-cell hide-mobile"><span>{{game.stat.hits}}</span></td>
        <td class="stat-cell hide-mobile"><span [ngStyle]="{'color': getPlusMinusColor(game.stat)}">{{game.stat.plusMinus}}</span></td>
        <td class="stat-cell hide-mobile"><span [ngStyle]="{'color': game.stat.pim > 0 ? '#e34d53' : ''}">{{game.stat.pim}}</span></td>
        <td class="stat-cell"><span class="rating-cell" [ngStyle]="{'background-color': getHokmobScoreColor(game.stat)}">{{game.stat.hokmobRating}}</span></td>
      </tr>
    </tbody>
  </table>

  <table *ngIf="isGoalie" class="recent-games-table">
    <thead>
    <tr class="player-game-header">
      <th class="date-header"><span>Date</span></th>
      <th class="vs-header"><span>VS</span></th>
      <th class="toi-header"><span [title]="'Time On Ice'">TOI</span></th>
      <th class="goals-header stat-cell"><span>Save %</span></th>
      <th class="assists-header stat-cell"><span [title]="'Goals Against Average'">GAA</span></th>
      <th class="shots-header stat-cell"><span [title]="'Shots Against'">Shots Against</span></th>
      <th class="hits-header stat-cell"><span [title]="'Goals Against'">Goals Against</span></th>
      <th class="rating-header stat-cell"><span [title]="'HokMob Rating'">Rating</span></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let game of lastTenGames, let i = index, let isLast = last" class="player-game-row" [ngClass]="{'last-row': isLast}">
      <td class="date-cell"><span>{{getDateString(game.date)}}</span></td>
      <td class="opponent-cell" [routerLink]="['/game', game.game.gamePk]">
        <img class="opponent-logo" [src]="teamLogos[i]">
        <span>{{game.opponent.abbreviation}}</span>
        <span class="game-score">{{getRecentGameScore(i)}}</span>
      </td>
      <td><span>{{game.stat.timeOnIce}}</span></td>
      <td class="stat-cell"><span>{{game.stat.savePercentage | savePercentage}}</span></td>
      <td class="stat-cell hide-mobile"><span>{{getRecentGameGoalsAgainstAverage(game.stat) | goalsAgainstAverage}}</span></td>
      <td class="stat-cell hide-mobile"><span>{{game.stat.shotsAgainst}}</span></td>
      <td class="stat-cell"><span>{{game.stat.goalsAgainst}}</span></td>
      <td class="stat-cell"><span class="rating-cell" [ngStyle]="{'background-color': getHokmobScoreColor(game.stat)}">{{game.stat.hokmobRating}}</span></td>
    </tr>
    </tbody>
  </table>
</div>
