@import "variables";

$central-info-width: 130px;

.goal-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 50px;
  background-color: $black-02;
  color: $gray-04;

  .goals-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-right: $spacing-medium;
    padding-left: $spacing-medium;

    .period-goals {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: $spacing-small;

      .home-goals-label {
        width: 47%;
        text-align: right;
      }

      .goals-label {
        width: 47%;
      }

      .period-label {
        width: 6%;
        text-align: center;
        margin-left: $spacing-x-large;
        margin-right: $spacing-x-large;
        font-weight: bolder;
      }
    }
  }

  .home-goals {
    align-content: flex-end;
  }

  .away-goals {
    align-content: flex-start;
  }
}



// Desktop Styling
@media only screen and (min-width: $mobile-screen-breakpoint) {
  .goal-details-container {
    font-size: medium;
  }
}

// Mobile Styling
@media only screen and (max-width: $mobile-screen-breakpoint) {
  .goal-details-container {
    font-size: smaller;
  }
}
