<div class="goal-details-container">
  <div class="goals-container">
    <div *ngIf="hasPeriod(1)" class="first period-goals">
      <span class="home-goals-label">{{getHomeTeamGoals(1)}}</span>
      <span *ngIf="hasPeriod(1)" class="period-label">1st</span>
      <span class="goals-label">{{getAwayTeamGoals(1)}}</span>
    </div>
    <div *ngIf="hasPeriod(2)" class="second period-goals">
      <span class="home-goals-label">{{getHomeTeamGoals(2)}}</span>
      <span *ngIf="hasPeriod(2)" class="period-label">2nd</span>
      <span class="goals-label">{{getAwayTeamGoals(2)}}</span>
    </div>
    <div *ngIf="hasPeriod(3)" class="third period-goals">
      <span class="home-goals-label">{{getHomeTeamGoals(3)}}</span>
      <span *ngIf="hasPeriod(3)" class="period-label">3rd</span>
      <span class="goals-label">{{getAwayTeamGoals(3)}}</span>
    </div>
    <div *ngIf="hasPeriod(4)" class="ot period-goals">
      <span class="home-goals-label">{{getHomeTeamGoals(4)}}</span>
      <span *ngIf="hasPeriod(4)" class="period-label">OT</span>
      <span class="goals-label">{{getAwayTeamGoals(4)}}</span>
    </div>
    <div *ngIf="hasPeriod(5)" class="2ot period-goals">
      <span class="home-goals-label">{{getHomeTeamGoals(5)}}</span>
      <span *ngIf="hasPeriod(5)" class="period-label">2OT</span>
      <span class="goals-label">{{getAwayTeamGoals(5)}}</span>
    </div>
    <div *ngIf="hasPeriod(6)" class="3ot period-goals">
      <span class="home-goals-label">{{getHomeTeamGoals(6)}}</span>
      <span *ngIf="hasPeriod(6)" class="period-label">3OT</span>
      <span class="goals-label">{{getAwayTeamGoals(6)}}</span>
    </div>
  </div>
</div>
