@import "variables";

$central-info-width: 130px;

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 90px;
  background-color: $black-02;
  padding-top: $spacing-small;
  padding-bottom: $spacing-small;
  border-bottom: 1px solid $black-03;
  color: white;

  .game-day-time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: $central-info-width;
    padding: $spacing-medium;

    .game-day-label {
      margin-top: $spacing-small;
      font-size: large;
      color: $gray-04;
    }
  }

  .future-game {
    width: 170px !important;
  }

  .game-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: $central-info-width;
    padding-right: $spacing-x-small;
    padding-left: $spacing-x-small;

    .completed-status-label {
      margin-top: $spacing-small;
      font-size: large;
      color: $gray-04;
      text-align: center;
    }

    .live-status-label {
      margin-top: $spacing-small;
      font-size: large;
      color: $green-01;
    }

    .intermission-countdown {
      margin-top: $spacing-small;
      margin-bottom: $spacing-small;
      color: $gray-04;
    }
  }

  .playoff-series-label {
    margin-top: $spacing-small;
    font-size: medium;
    color: $gray-04;
  }

  .home-team-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: $spacing-small;

    :hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .home-team-logo {
      height: 60px;
      margin-left: $spacing-medium;
      margin-bottom: $spacing-x-small;
    }
  }

  .away-team-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: $spacing-small;

    :hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .away-team-logo {
      height: 60px;
      margin-right: $spacing-medium;
      margin-bottom: $spacing-x-small;
    }
  }
}

.dropdown-score-container {
  border-bottom: none !important;
}

// Desktop Styling
@media only screen and (min-width: $mobile-screen-breakpoint) {
  .dropdown-score-container {
    width: min(100vw - 60px, $small-display-breakpoint);
  }

  .home-team-header {
    flex-direction: row;
    font-size: x-large;
    width: 380px;
  }

  .away-team-header {
    flex-direction: row;
    font-size: x-large;
    width: 380px;
  }

  .game-time-label, .game-score-label {
    font-size: xx-large;
  }
}

// Mobile Styling
@media only screen and (max-width: $mobile-screen-breakpoint) {
  .dropdown-score-container {
    width: 100%;
  }

  .home-team-header {
    flex-direction: column-reverse;
    font-size: large;
    width: 40%;
  }

  .away-team-header {
    flex-direction: column;
    font-size: large;
    width: 40%;
  }

  .game-time-label, .game-score-label {
    text-align: center;
    font-size: x-large;
  }
}